.icons-container{
    list-style: none;
    font-size: 3rem;
    margin: 10px 0px;
    text-align: left;
    padding-left: 0px;
}
.software-skill-inline{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;

}
.software-skill-inline >i{
    color: #868e96;
}
.software-skill-inline > i:hover{
    transform: scale(1.1);
    color: #146356 ;
    // transition: 0.4s ease-in;
}
.software-skill-inline > p{
    color: #868e96;
    font-size: 15px;
}
.software-skill-inline >i:hover ~ p{
    transform: scale(1.1);

    color: #146356 !important;
}