@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("../../_globalColors.scss");
body{

    background-color: wheat;
    color: black;
}
.header .logo .logoHeading{
    font-family: "Agustina Regular", 'Waterfall', cursive;
    font-weight: bolder;
    padding: 0px 10px;
    font-size: 2.5em;
    color: #146356 !important;
    line-height: 70px;
    // text-align: center;
}
.profile-img{
    position: absolute;
    width: 50px;
    border-radius: 100%;
    border: 2px solid white;

    margin-top: 10px;
    left: 50px;
}
.logo{
    color: white;
    text-decoration: none;
    // float: left;
    // left: 100px;

    color: black;
    line-height: normal;
}
.navbar{
    float: right;

}
.nav-item{
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    margin: 10px 40px 10px 0px;
    line-height: normal;
}
.nav-item a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.nav-item a:hover{
    background-color: #146356;
    
    color: white;
}
.black_text{
    color: black !important;
}
@media (max-width: 768px) {
    .header{
        text-align: center;
    }
    .navbar{
        display: none;
    }
  }